@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url(/css/reset.css);
@import url(/css/style-menu.css);
@import url(/css/style-sobremin.css);
@import url(/css/style-habilidade.css);
@import url(/css/responsividade.css);
@import url(/css/style-projetos.css);
@import url(/css/style-footer.css);
@import url(/css/anime-scroll.css);



    

/*Estilo do conteudo principal */
.conteudo-principal {
    margin-top: 80px;
    padding: 85px;
    height: 1080px;
    width: 1920;
    
    
}

.div-img{
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    margin-left: 1000px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-escrito {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    gap: 23px;
    margin-left: -900px;
    margin-top: -550px;
    justify-content:space-between;
}

.titulo-ola {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size:3.6rem;
    color: #FFFFFF;

}

.meu-nome {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size:8.0rem;
    color:  #FF4716;
}

.titulo-desenvolvedor{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size:3.6rem;
    color: #FFFFFF;

}

.conjunto-botoes {
    display: flex;
    height: 47px;
    flex-direction: row;
    gap: 32px;
    text-align: center;
  

   
}

.botao-github{
    width: 160px;
    height: 53px;
    font-family: 'Inter', sans-serif;
    background-color: #0E0E0E;
    font-size: 3.0rem;
    color: #FFFFFF;
    border: 2px solid #FF4716;
    border-radius: 11px;
    -webkit-transition-duration: 0.4s; / * Safari * /
    transition-duration: 0.4s;
    cursor: pointer;
}

.botao-github:hover {
    background-color: #FF4716;
    color: white;
}

.botao-linkedin {
    width: 160px;
    height: 53px;
    font-family: 'Inter', sans-serif;
    background-color: #0E0E0E;
    font-size: 3.0rem;
    color: #FFFFFF;
    border: 2px solid #FF4716;
    border-radius: 11px;
    -webkit-transition-duration: 0.4s; / * Safari * /
    transition-duration: 0.4s;
    cursor: pointer;
}

.botao-linkedin:hover {
    background-color: #FF4716;
    color: white;
}

.botao-youtube {
    width: 160px;
    height: 53px;
    font-family: 'Inter', sans-serif;
    background-color: #0E0E0E;
    font-size: 3.0rem;
    color: #FFFFFF;
    border: 2px solid #FF4716;
    border-radius: 11px;
    -webkit-transition-duration: 0.4s; / * Safari * /
    transition-duration: 0.4s;
    cursor: pointer;
}

.botao-youtube:hover {
    background-color: #FF4716;
    color: white;
}


.imagen-principal {
    display: flex;
    max-width: 100%;
    margin-left: -256px;
    margin-top: 300px;
}

/* Efeito Zoom da imagem principal*/
.imagen-principal {
    position:relative;
    display:inline-block;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    
}

.imagen-principal:after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:#0CF;
    opacity:0;
    border-radius:5px;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.3);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}

.imagen-principal:hover{
    transform:scale(1.25,1.25);
}
  
.imagen-principal:hover::after{
    opacity:1;
}
/*---------------------------------------*/



/* Responsividade do site*/
x











